{% extends 'home/index.html' %}
{% load static %}
{% block block_content %}

<header class="masthead" style="background-image: url('../../static/home/assets/img/estadio1.jpeg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Figuritas de estadios</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->

            {% for stadium in stadiums %}
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">{{ stadium.name }}</h2>
                    <h3 class="post-subtitle">Capacidad: {{ stadium.capacity }} personas</h3>
                    <h3 class="post-subtitle">Ubicado en: {{ stadium.city }}</h3>
                </a>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            {% endfor %}
        
        </div>
    </div>
</div>    

{% endblock %}